@import '../variables/colors.scss';
@import '../variables/mixins.scss';

.apartment-banner {
  margin-bottom: 25px;
  position: relative;

  img {
    @include responsive-img(415px);
  }

  &.about-banner {
    img {
      height: 223px;
    }
  }

  @include media('(max-width: 768px)') {
    img {
      height: 255px;
    }

    &.about-banner {
      img {
        height: 111px;
      }
    }
  }

  .custom-prev-arrow,
  .custom-next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include flex-center(row, center, center);
    cursor: pointer;
    z-index: 10;

    &.custom-prev-arrow {
      left: 10px;
    }

    &.custom-next-arrow {
      right: 10px;
    }

    i {
      color: $white-color;
      font-size: clamp(25px, 8vw, 96px);
    }
  }
}
